body {
    background-color: #ebebeb;
    font-family: sans-serif;
}

#toolbar {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
    margin: 1rem 1rem 1rem 0;
}

img {
    border-radius: 0.3rem;
    width: 5rem;
    height: 5rem;
}

.button {
    border: solid darkblue 0.1rem;
    border-radius: 0.3rem;
    background-color: skyblue;
    color: darkblue;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    align-items: center;
}

.button:hover {
    border: solid black 0.1rem;
    background-color: darkblue;
    color: skyblue;
}

.button:active {
    border: solid darkred 0.1rem;
    background-color: red;
    color: white;
}

#editBtn {
    font-size: 0.9rem;
    border-radius: 0.3rem;
}

.table, .table th, .table td {
    border: solid #000000 0.05rem;
    border-collapse: collapse;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.2rem;
}