body {
    background-color: #ebebeb;
    font-family: sans-serif;
}

.sidebar {
    width: 30%;
}

.content {
    flex-grow: 1;
}

#Russia, #China {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#Russia input, #China input {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid #000;
    border-radius: 0.3rem;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}