body {
   background-color: #ebebeb;
   font-family: sans-serif;
   display: flex;
   padding: 1rem;
   gap: 2rem;
}

.sidebar {
   width: 30%;
   background-color: white;
   border-radius: 1rem;
   padding: 1rem;
   box-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.2);
}

.avatar-block {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 0.5rem;
   align-items: center;
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

.avatar-block img {
   width: 20rem;
   height: 20rem;
   border-radius: 0.4rem;
}

.sidebar input, select {
   width: 100%;
   font-size: 0.9rem;
   box-sizing: border-box;
   margin: 0.2rem 0;
   padding: 0.4rem;
   border: 0.1rem solid #000;
   border-radius: 0.3rem;
}

.button {
   border: solid #527799 0.1rem;
   border-radius: 0.3rem;
   background-color: #BDCBD6;
   color: #527799;
   gap: 1rem;
   font-size: 1.2rem;
   padding: 0.5rem;
   align-items: center;
}

.button:hover {
   border: solid #BDCBD6 0.1rem;
   background-color: #527799;
   color: #BDCBD6;
}

.button:active {
   border: solid darkgrey 0.1rem;
   background-color: lightgrey;
   color: darkgrey;
}

#Russia, #China {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-bottom: 0rem;
}

.fields {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-bottom: 0.5rem;
}
.doc-row {
   display: flex;
   gap: 2rem;
   margin-bottom: 1rem;
}

.doc-card {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 2rem;
}

.doc-card h4{
   font-size: 1.2rem;
   text-align: center;
}

.doc-card img {
   width: 13rem;
   height: 13rem;
   margin-bottom: 1rem;
   border-radius: 0.4rem;
}

#btnSave {
   border: solid #505D40 0.1rem;
   background-color: #8DA075;
   color: #505D40;
}

#btnSave:hover {
   border: solid #8DA075 0.1rem;
   background-color: #505D40;
   color: #8DA075;
}


#btnDelete {
   border: solid #8E2A24 0.1rem;
   background-color: #BA7C78;
   color: #8E2A24;
}

#btnDelete:hover {
   border: solid #BA7C78 0.1rem;
   background-color: #8E2A24;
   color: #BA7C78;
}
